<!-- <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" style=" color: white; font-size: 1.1rem; text-decoration: none;" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
  <div class="dropdown-menu">
    <% deptdata.forEach((q) => { %>
    <a class="dropdown-item" style=" color: black;" href="<%=q.deptUrl%>"><%=q.deptNavText%></a>
    <% }) %> 
</li> -->






<!-- <nav class="navbar navbar-expand-lg bg-light bg-navbar" data-bs-theme="dark">
  <div class="container-fluid flex-top" >
      <a class="navbar-brand " style=" color:black;" href="/">GEC</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <div class="d-flex">
          <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" style=" color:black;" href="/">Home
                </a>
              </li></ul>
     </div>
        <ul class="navbar-nav me-auto">
         
           <% navdata.forEach((y) => { %>
                <li class="nav-item"><a style=" color:black;" class="nav-link" href="<%=y.pageUrl%>"><%=y.pageNavText%></a></li>
           <% }) %> -->
          

           
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li> -->
        <!-- </ul> -->
<!-- 
        <div class="d-flex">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link" style=" color:black;" href="/login">Login
                  </a>
                </li></ul>
       </div>

      </div>
    </div>
  </nav> -->





