<header class="navbar navbar-expand-lg navbar-light" style="background-color: teal;">
    <div class="container-fluid">
       <a class="navbar-brand text-white ml-4" href="/admin" style="padding-left:10px;"><b>GEC</b></a>
       <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <div class="mr-5">
             <ul class="navbar-nav mr-auto mr-0">
                <li class="nav-item">
                   <!-- <a class="nav-link text-white" action="/logout" target="_self">LogOut</a> -->
                   <form  action="/logout" method="POST" id="logout-form" class="nav-link text-white">
                     <button type="submit">Logout</button>
                   </form>
                </li>
             </ul>
          </div>
       </div>
    </div>
 </header>
 