<aside style="height:100%;  background-color: black; ">
    <nav style="height:100%; background-color: black; " class="sidebar py-3 px-2  mb-4" >
       <ul class="nav flex-column" id="nav_accordion">                      
          <li class="nav-item">
             <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item1" href="#"> Pages <i class="bi small bi-caret-down-fill"></i> </a>
             <ul id="menu_item1" class="submenu collapse" data-bs-parent="#nav_accordion">
                <li><a class="nav-link" href="/page">All Pages </a></li>
                <li><a class="nav-link" href="/add-page">Add Pages </a></li>  
             </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item2" href="#"> Home Page <i class="bi small bi-caret-down-fill"></i> </a>
            <ul id="menu_item2" class="submenu collapse" data-bs-parent="#nav_accordion"> 
               <li><a class="nav-link" href="/add-carousel-imgs">Add Carousel Images </a></li> 
               <li><a class="nav-link" href="/carousel-imgs">View Carousel Images </a></li>   
               <li><a class="nav-link" href="/add-notifications">Add Notices and UsefulLinks </a></li> 
               <li><a class="nav-link" href="/notifications">View Notices and UsefulLinks </a></li>   
            </ul>
         </li>
          
         
          <li class="nav-item">
             <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item3" href="#"> Placement <i class="bi small bi-caret-down-fill"></i> </a>
             <ul id="menu_item3" class="submenu collapse" data-bs-parent="#nav_accordion">
                <li><a class="nav-link" href="/placement">Placement</a></li>
                <li><a class="nav-link" href="/add-placement">Add Placement Pages </a></li> 
                <li><a class="nav-link" href="/add-placement-records">Add Placement Records</a></li>
                <li><a class="nav-link" href="/placement-records">All Records</a></li>                 
             </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item4" href="#"> New Department <i class="bi small bi-caret-down-fill"></i> </a>
            <ul id="menu_item4" class="submenu collapse" data-bs-parent="#nav_accordion">
               <li><a class="nav-link" href="/department">Edit Departments </a></li>
               <li><a class="nav-link" href="/add-department">Add Department </a></li>  
            </ul> </li>
            <li class="nav-item">
               <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item5" href="#"> Department Pages <i class="bi small bi-caret-down-fill"></i> </a>
               <ul id="menu_item5" class="submenu collapse" data-bs-parent="#nav_accordion">
                  <li><a class="nav-link" href="/add-infra">Add Infrastructure </a></li>
                  <li><a class="nav-link" href="/infra">Show Infrastructure </a></li>
                  <li><a class="nav-link" href="/add-events">Add Events </a></li>  
                  <li><a class="nav-link" href="/events">Show Events</a></li>
                  <li><a class="nav-link" href="/dept-temp">Show Faculty</a></li>
               </ul> </li>
            <!-- <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item6" href="#"> Departments <i class="bi small bi-caret-down-fill"></i> </a>
            <ul id="menu_item6" class="submenu collapse" data-bs-parent="#nav_accordion">
               <li><a class="nav-link" href="/itdepartment">Information Technology </a></li>
                  <li><a class="nav-link" href="/compdepartment">Computer </a></li> 
                  <li><a class="nav-link" href="/add-department">ETC </a></li> 
                  <li><a class="nav-link" href="/add-department">ENE </a></li>
                  <li><a class="nav-link" href="/add-department">Mechanical </a></li>  
                  <li><a class="nav-link" href="/add-department">Civil </a></li>  
            </ul> 
         </li>   -->

         <li class="nav-item">       
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item7" href="#"> Faculty <i class="bi small bi-caret-down-fill"></i> </a>
            <ul id="menu_item6" class="submenu collapse" data-bs-parent="#nav_accordion">
               <li><a class="nav-link" href="/faculty">Information Technology Faculty</a></li>
               <li><a class="nav-link" href="/compfaculty">Computer Faculty</a></li>
               <li><a class="nav-link" href="/etcfaculty">ETC Faculty</a></li>
               <li><a class="nav-link" href="/enefaculty">ENE Faculty</a></li>
               <li><a class="nav-link" href="/mechfaculty">Mechanical Faculty</a></li>
               <li><a class="nav-link" href="/civilfaculty">Civil Faculty</a></li>            

            </ul>
         </li>

         <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item8" href="#"> Results <i class="bi small bi-caret-down-fill"></i> </a>
            <ul id="menu_item7" class="submenu collapse" data-bs-parent="#nav_accordion">
               <li><a class="nav-link" href="/result">All Result </a></li>
               <li><a class="nav-link" href="/add-result">Add Result </a></li>               
            </ul>
         </li>
         <li class="nav-item">
           <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item9" href="#"> Syllabus <i class="bi small bi-caret-down-fill"></i> </a>
           <ul id="menu_item8" class="submenu collapse" data-bs-parent="#nav_accordion">
              <li><a class="nav-link" href="/syllabus">All records</a></li>
              <li><a class="nav-link" href="/add-syllabus">Add Syllabus </a></li>               
           </ul>
        </li>
         <li class="nav-item">
           <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item10" href="#"> Student record <i class="bi small bi-caret-down-fill"></i> </a>
           <ul id="menu_item9" class="submenu collapse" data-bs-parent="#nav_accordion">
              <li><a class="nav-link" href="/student">All records</a></li>
              <li><a class="nav-link" href="/add-student">Add student record </a></li>               
           </ul>
        </li>
   
            
       </ul>
       
    </nav>
 </aside>