<aside>
    <nav style="height:700px" class="sidebar py-2 mb-4">
       <ul class="nav flex-column" id="nav_accordion">                      
          <li class="nav-item">
             <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item1" href="#"> Pages <i class="bi small bi-caret-down-fill"></i> </a>
             <ul id="menu_item1" class="submenu collapse" data-bs-parent="#nav_accordion">
                <li><a class="nav-link" href="/page">All Pages </a></li>
                <li><a class="nav-link" href="/add-page">Add Pages </a></li>  
             </ul>
          </li>
          <li class="nav-item">
             <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item2" href="#"> Results <i class="bi small bi-caret-down-fill"></i> </a>
             <ul id="menu_item2" class="submenu collapse" data-bs-parent="#nav_accordion">
                <li><a class="nav-link" href="/result">Result Pages</a></li>
                <li><a class="nav-link" href="/add-result">Add Result </a></li>               
             </ul>
          </li>
          <li class="nav-item">
             <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item3" href="#"> Placement <i class="bi small bi-caret-down-fill"></i> </a>
             <ul id="menu_item3" class="submenu collapse" data-bs-parent="#nav_accordion">
                <li><a class="nav-link" href="/placement">Placement</a></li>
                <li><a class="nav-link" href="/add-placement">Add Placement Details </a></li>              
             </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item4" href="#"> Department <i class="bi small bi-caret-down-fill"></i> </a>
            <ul id="menu_item4" class="submenu collapse" data-bs-parent="#nav_accordion">
               <li><a class="nav-link" href="/department">All Departments </a></li>
               <li><a class="nav-link" href="/add-department">Add Department </a></li>               
            </ul>
         </li>                   
       </ul>
       
    </nav>
 </aside>