<!doctype html>
<html>
<head>
    <%- include('common/head.ejs')-%>
  <title>Login</title>
</head>
<body>
    <%- include('common/header.ejs')-%>
  <h1>Login</h1>
  <form method="POST" action="/login">
    <div>
      <label for="email">Email</label>
      <input type="text" id="email" name="email" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>
    <h6>Don't have an acccount?</h6>
    <button type="submit"> <a href="/register" >Register</a></button>
  </form>
  <%- include('common/footer.ejs')-%>
</body>
</html>