html{

  scroll-behavior: smooth;
}
body{

  display:flex;
  flex-direction: column;
  min-height: 100vh;
}
/*----photo carousel----*/
 .carousel-p {
    width: 70%;
    height: 480px;
    position: absolute;
    background-color: rgb(4, 26, 47);
    border-style:inset;
    border-color:rgb(17, 9, 49);
    border-width: 2px;
    border-radius:12px;
    margin-top:50px;
    padding:0px 0px;
    margin-left:20px;
    left:13.82%;
    text-align: center;
    align-items: center;
  }
  
  .carousel-p > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .slide-p {
 
    position: absolute;
    inset: 0;
    opacity: 0;
    /* transition: 200ms opacity ease-in-out; */
    /* transition-delay: 200ms; */
  }
  
  .slide-p .img-p{
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    padding: 30px 30px;
    object-fit:contain;
    object-position: center;
    
    
  }
  
  .slide-p[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
  }
  
  .carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(84, 56, 120, 0.5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
  }
  
  .carousel-button:hover,
  .carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
  }
  
  .carousel-button:focus {
    outline: 1px solid black;
  }
  
  .carousel-button.prev-p {
    left: 1rem;
  }
  
  .carousel-button.next-p {
    right: 1rem;
  }
/*----photo carousel----*/

/* -------icon button section---- */
.icon-button{

display:block;
position:absolute;
left:88%;
width: 100px;
align-items: center;
margin-top: 230px;
padding: 10px 30px;
}
.notices button{
  margin: 20px 0px;
  width: 120px;
  height: 85px;
  background-color: rgb(208, 231, 238);
  border-radius: 10px;

}
.notices img{

  width:50px;
  height:50px;

}

.events button{
  margin: 20px 0px;
  width: 120px;
  height: 85px;
  background-color: rgb(208, 231, 238);
  border-radius: 10px;
}
.events img{

  width:50px;
  height:50px;

}


.usefulinfo button{
  margin: 20px 0px;
  width: 120px;
  height: 85px;
  background-color: rgb(208, 231, 238);
  border-radius: 10px;
}
.usefulinfo img{

  width:50px;
  height:50px;
  margin-top:2px;

}
.otherinfo button{

  margin: 20px 0px;
  width: 120px;
  height: 85px;
  background-color: rgb(208, 231, 238);
  border-radius: 10px;

}
.otherinfo img{

  
  width:50px;
  height:50px;
  margin-top:2px;
}
/*------icon section ends---- */


/* -----scrollarea section---- */
.section{

  display:block;
  width: 70%;
  padding-top:50px;
  margin-right:auto;
  margin-left:auto;
  margin-top:100px;
  height:400px;
  position: relative;

  top:500px;
  background-color: rgb(215, 234, 232);

  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;


  border-width:0.5px;
  border-style:solid;
  border-radius: 20px;
}
.notif{
  display:inline-table;
  position:relative;
  text-align: center;
  margin-left:100px;

}

.scrollarea-1{

  display: inline-block;
  position:relative;
  text-align: center;
  width:400px;
  height:300px;
  
}
.scrollarea-2{

  display:inline-block;
  position:relative;
  text-align: center;
  width:400px;
  height:300px;

}
.scroll-bar-1 {
  max-height: 350px;
  height: 270px;
  display:table-row;
  position:absolute; 
  width:300px;
  /* left:12%;
  margin: 0px 30px; */
  border:1px solid grey;
  font-family: 'GestaRegular', Arial, Helvetica, sans-serif;
  overflow-y: scroll;
  background-color: rgb(203, 215, 209);
  text-align: center;
}
.nname1
{
  
  text-align: center;
}
.scroll-bar-2 {
  font-family: time;
  max-height: 350px;
  height: 270px;
 display:table-row;
  position:absolute;
  width:300px;
  /* right:10%;
  margin: 0px 30px; */ 
  border:1px solid grey;
  font-family: 'GestaRegular', Arial, Helvetica, sans-serif;
  overflow-y: scroll;
  background-color: rgb(203, 215, 209);
  text-align: center;
}
.nname2{

  text-align: center;
}
/*-----text-section-----*/
 .text{


margin-top:600px;
position:relative;
display:column;
text-align: center;
align-items: center;
background-color: rgb(217, 236, 234);
width:70%;
margin-right:auto;
margin-left:auto;
padding-top:50px;
padding-bottom: 50px;
border:solid;
border-color: rgb(78, 21, 21);
border-width: 2px;

}  
.vision{

margin:10px 30px;


}
.mission{

margin:20px 10px;
}

/*------- text section ends---- */
 /*------link carousel---- */
 .carousel {
    width: 70%;
    height: 150px;
    position: relative;
    border-style:solid;
    border-color:black;
    border-width: 2px;
    margin-top:100px;
    margin-right:auto;
    margin-left:auto;
    /* left:19.52%; */
    text-align: center;
    align-items: center;
    padding:0;
    margin-bottom: 100px;
  }
  
  .carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;

  }
  
  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
  }
  
  .slide img {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: column;
    width: 14%;
    margin:0px 10px;
    height: 100%;
    object-fit:contain;
    object-position: center;
  }
  
  .slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
  }
  
  .carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
  }
  
  .carousel-button:hover,
  .carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
  }
  
  .carousel-button:focus {
    outline: 1px solid black;
  }
  
  .carousel-button.prev {
    left: 1rem;
  }
  
  .carousel-button.next {
    right: 1rem;
  }