<%- include('common/head.ejs')-%>

   <title>Admin Panel - Add Notifications</title>
   </head>
   <body>
    <%- include('common/header.ejs')-%>

      <div class="container-fluid bg-side-nav">
         <div class="row">
            <div class="col-lg-2 sidebaare" style="height:700px; background-color: black;">

                <%- include('common/sidebar.ejs')-%>

            </div>
            <div class="col-lg-10">
              <div class="dashboard-content-area">

                   <!-- put your contente -->
                <h1 class="mb-2 mt-2">Add Notifications</h1>
    
                   <form method="post" action="/add-notifications" enctype="multipart/form-data">
               
                     <div class="mb-3 mt-3 row g-9 align-items-center">  
                       <div class="col col-lg-2"><label class="form-label">Date</label></div>
                       <div class="col"><input type="date" name ="date" class="form-control" placeholder="date" required></div>
                     </div>

                     <div class="mb-3 mt-3 row g-9 align-items-center">  
                        <div class="col col-lg-2"><label class="form-label">Notice Name</label></div>
                        <div class="col"><input type="text" name ="noticename" class="form-control" placeholder="notice name"></div>
                      </div>                  
                     <div class="mb-3 mt-3 row g-9 align-items-center"> 
                       <div class="col col-lg-2"><label class="form-label">Notice File</label></div>
                       <div class="col"><input type="file" name="noticeinfo" class="form-control" ></div>
                     </div>
                     
                     <div class="mb-3 mt-3 row g-9 align-items-center">  
                        <div class="col col-lg-2"><label class="form-label">Other File Name</label></div>
                        <div class="col"><input type="text" name ="usefulinfoname" class="form-control" placeholder="useful file name"></div>
                      </div>                  
                     <div class="mb-3 mt-3 row g-9 align-items-center"> 
                       <div class="col col-lg-2"><label class="form-label">Other File</label></div>
                       <div class="col"><input type="file" name="usefulinfo" class="form-control" ></div>
                     </div>
                     <div class="mb-5 mt-3 align-items-center text-center"> 
                          <button type="submit" class="btn btn-primary">Submit</button>
                     </div>
                 </form>

              <!-- end your content here -->




             </div>

            </div>
         </div>
      </div>
<%- include('common/footer.ejs')-%>
      