<%- include('common/head.ejs')-%>

   <title>Admin Panel - Add Student Record</title>
   </head>
   <body>
    <%- include('common/header.ejs')-%>

      <div class="container-fluid bg-side-nav">
         <div class="row">
            <div class="col-lg-2 sidebaare" style="height:1700px; background-color: black;">

                <%- include('common/sidebar.ejs')-%>

            </div>
            <div class="col-lg-10">
              <div class="dashboard-content-area">

                   <!-- put your contente -->
                   <h1 class="mb-2 mt-2">Add Student Record</h1>
    
                   <form method="post" action="/add-student" enctype="multipart/form-data">
               
                     <div class="mb-3 mt-3 row g-9 align-items-center">  
                       <div class="col col-lg-2"><label class="form-label">Student Name</label></div>
                       <div class="col"><input type="text" name ="stud_name" class="form-control" placeholder="Student Name" required></div>
                     </div>

                     <div class="mb-3 mt-3 row g-9 align-items-center">  
                        <div class="col col-lg-2"><label class="form-label">Roll No</label></div>
                        <div class="col"><input type="text" name ="rollnoo" class="form-control" placeholder="Roll No" required></div>
                      </div>

                      <div class="mb-3 mt-3 row g-9 align-items-center">  
                        <div class="col col-lg-2"><label class="form-label"> Department</label></div>
                        <div class="col"><input type="text" name ="depart" class="form-control" placeholder="Department" required></div>
                      </div>
               
                     <div class="mb-3 mt-3 row g-9 align-items-center">
                       <div class="col col-lg-2"><label class="form-label">Batch Year</label></div>
                       <div class="col"><input type="text" name ="yr" class="form-control" placeholder="Batch Year" required></div>
                     </div>
                     
                     <div class="mb-3 mt-3 row g-9 align-items-center"> 
                       <div class="col col-lg-2"><label class="form-label">CGPA</label></div>
                       <div class="col"><input type="text" name="cgpa" class="form-control" placeholder="7.5"></div>
                     </div>
                     
                     <div class="mb-3 mt-3 row g-9 align-items-center">
                       <div class="col col-lg-2"><label class="form-label">PR no</label></div>
                       <div class="col"><input type="text" name="pr" class="form-control" placeholder=" university no " required></div>
                     </div>
                     <div class="mb-3 mt-3 row g-9 align-items-center">
                      <div class="col col-lg-2"><label class="form-label">SemNo</label></div>
                      <div class="col"><input type="text" name="sem" class="form-control" placeholder="VI" required></div>

                    <div class="mb-3 mt-3 row g-9 align-items-center">
                      <div class="col col-lg-2"><label class="form-label">Backlog</label></div>
                      <div class="col"><input type="text" name="backlog" class="form-control" placeholder="no" required></div>
                    </div>
                    <div class="mb-3 mt-3 row g-9 align-items-center"> 
                      <div class="col col-lg-2"><label class="form-label">Photo</label></div>
                      <div class="col"><input type="file" name="recPhoto" class="form-control" ></div>
                    </div>
                     <div class="mb-5 mt-3 align-items-center text-center"> 
                          <button type="submit" class="btn btn-primary">Submit</button>
                     </div>
                 </form>

              <!-- end your content here -->




             </div>

            </div>
         </div>
      </div>
<%- include('common/footer.ejs')-%></body>